/.vs/wons/v14/*.suo
/tests/__pycache__
/.idea
/analysis/__pycache__
/*.user
*.pyc
/web/__pycache__
/env
/venv/
/wons/.vs/wons/v14/*.suo
/local
/data_local
/reports/runners
/tools/runners
/local_definitions.py
/data
/trainer
/web/.idea
/web/api_logs.txt
/wheels
/tools/datasetgenerator/configuration.py
/tools/votingconsole/configuration.py
/tools/datasetgenerator/toolsettings.py
/tools/votingconsole/toolsettings.py
/tools/classifiergenerator/toolsettings.py
